@import 'bootstrap/dist/css/bootstrap';


.navbar {
    background-color: #020100 !important; 
    }
     
.navbar-brand {
    font-size: 2rem; 
    }

.serch-area{
    padding-top: 60px;
}

.no-rigth-padding{
    padding-right: 0 !important;
}

.no-left-padding{
    padding-left: 0 !important;
}

.r-bloak{
    display: inline-block;
    margin-bottom: 1rem;
}

.logout-button {
    margin-right: 5px;
}

.user-name {
    margin-top: 3.5%;
    padding-right: 5px;
    color: rgb(99, 98, 98);
}